html{
    scroll-behavior: smooth;
}
*{
    margin: 0 10px 0 10px;
    padding: 0;
}
.navDiv{
    width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 100;
    background-color: white;
}
nav{
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0 0;
}
.navDiv>nav>img{
    width: 20%;
}
.buttons{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    width: 60%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
}
.buttons>div{
    font-size: 30px;
    padding: 20px 10px;
    width: fit-content;
    position: relative;
    transition: transform 0.3s;
}
.buttons>div>a,.buttons>div>span>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    white-space: nowrap;
}
.buttons>div>span>a{
    color: #6f00ff;
}
.buttons>div>span{
    padding: 20px 10px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0%;
    top: 100%;
    margin: -0.2em 0 0 0 ;
    border-bottom: 0.2em solid #6f00ff;
    display: flex;
    align-items: center;
}
.buttons>div:hover{
    transform: translateY(-100%);
}
.sectorName{
    margin-bottom: 50px;
}
.sectorName>h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    white-space: nowrap;
}
#temp{
    width: 100%;
    height: 1700px;
}
.frontTextIntro{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-left: 15%;
}
.intro{
    position: relative;
    top: -13em;
    width: 50%;
}
.frontTextIntro>.intro>h1{
    font-size: 2vw;
    margin-bottom: 10px;
}
.littleDesc{
    font-size: 1.3vw;
    width: 60%;
    height: fit-content;
    padding-bottom: 20px;
}
.frontTextIntro>.intro>a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #121212;
    border-radius: 5px;
    color: white;
}
.frontTextIntro>.intro>a:hover{
    background-color: #201f1f;
}
.images{
    width: 34%;
    height: fit-content;
    position: relative;
    float: right;
    right: 100px;
}
.images>img{
    position: absolute;
    width: 80%;
    bottom: 0;
    transition: transform 0.5s;
}
.images>.shape{
    left: -10px;
}
.images>.me{
    width: 75%;
    bottom: -10px;
}
.images:hover .shape{
    transform: translateY(-5%);
}
.images:hover .me{
    transform: translateX(4%);
}
#portfolioDivs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
}
#portfolioDivs>div{
    max-width: 600px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border:5px solid black;
    border-radius: 5px;
    background-color: green;
    cursor: pointer;
    transition: transform 1s;

    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */
    box-shadow: -8px 6px 33px -12px rgba(0,0,0,1);
} 
#portfolioDivs>div:hover{   
    transform: scale(1.05);
}
#portfolioDivs>div>img{
    width: 100%;
}
/* For SMOOTH scrolling */
.frontTextIntro,.sectorName,#portfolioDivs>div,.formDiv>form{
    transition: opacity 1s ease, transform 1.5s ease;
}
/* For SMOOTH scrolling */


  /* FORM */
.formDiv>form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 10px;
    width: fit-content;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 0 auto;
    background: linear-gradient(#e7eaff, #a4b1fc, #233ef4);
    border-radius: 5px;
}
.formDiv>form>h2{
    font-size: 3vw;
    padding-top: 10px;
    font-weight: bold;
    color: #8395c5;
}
.firstForm{
    margin-top: 20px;
}
.firstForm>.first,.firstForm>.second{
    width: fit-content;
    display: flex;
}
.form-group{
    margin: 0;
}
.form-group>input{
    width: 80%;
}
.secondForm{
    width: 100%;
}
.secondForm>.tempDiv{
    width: 90%;
    margin: auto;
}
.form-group>textarea{
    width: 90%;
}
.firstForm>.first>.form-group>input{
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #e7eaff;   
}
.firstForm>.second>.form-group>input{
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color:  #c7cdfd;
}
.secondForm>.tempDiv>.form-group>textarea{
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    resize: vertical;
    background-color: #a4b1fc;
}
.formDiv>form>input{
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #233ef4;
    color: black;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    transition: all 1s;
}
.formDiv>form>input:hover{
    color: white;
}
input:focus,textarea:focus{
    outline-offset: 2px;
    outline-style: dashed;
    outline-color: #233ef4;
}
  
/* FORM */